@model BTCPayServer.Models.ServerViewModels.MaintenanceViewModel
@{
    ViewData.SetActivePage(ServerNavPages.Maintenance, "Maintenance");
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<form method="post">
    <div class="row mb-5">
    <div class="col-xl-8 col-xxl-constrain">
            <h4 class="mb-2">Domain name</h4>
            <p>You can change the domain name of your server by following <a href="https://docs.btcpayserver.org/Deployment/ChangeDomain/" target="_blank" rel="noreferrer noopener">this guide</a>.</p>

            <div class="d-flex">
                <input asp-for="DNSDomain" class="form-control flex-fill" disabled="@(Model.CanUseSSH ? null : "disabled")" />
                <span asp-validation-for="DNSDomain" class="text-danger"></span>
                <button name="command" type="submit" class="btn btn-primary ms-3" value="changedomain" title="Change domain" disabled="@(Model.CanUseSSH ? null : "disabled")">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</form>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
