@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}
<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner text-white">
            <h1>Welcome to GRSPay Server</h1>
            <p class="fw-semibold">GRSPay Server is a free and open source server for merchants wanting to accept Groestlcoin for their business.</p>
            <a style="background-color: #fff;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="https://grspay.com" target="_blank" rel="noreferrer noopener">Official website</a>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>A Payment Server for Groestlcoin</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/lock-logo.png" alt="" asp-append-version="true" />
                    <h3>Secure</h3>
                    <p class="text-muted">The payment server does not need to know your private keys, so your money can't be stolen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/qr-logo.png" alt="" asp-append-version="true" />
                    <h3>Easy</h3>
                    <p class="text-muted">A user-friendly Groestlcoin checkout page for your customers.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/money-logo.png" alt="" asp-append-version="true" />
                    <h3>Visibility</h3>
                    <p class="text-muted">Manage, generate reports, and search for your invoices easily.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="call-to-action bg-tile">
    <div class="container text-center">
        <h2>About Groestlcoin</h2>
        <div class="row text-center">
            <div class="col-md-12 text-center" style="margin-bottom: 25px;">
                Launched on 22 March 2014 with a focus on technological advancement, Groestlcoin (GRS) is SEGWIT and Lightning Network ready!
                <br />Groestlcoin is a fast and secure coin with almost ZERO fees, that also includes privacy features.
                <br />Major development release every 3 months!
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/c7s3zZnlQ6M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qNMTDEPhWhY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2>Credits</h2>
                <hr class="primary">
                <p>A big thank you to BTCPay Server who made this project a reality for Groestlcoin!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mr-auto text-center">
                <a href="https://github.com/btcpayserver/">
                    <img src="~/img/btcpay-logo.png" height="100" />
                </a>
                <p>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2>Let's Get In Touch!</h2>
            <hr class="primary">
            <p>
                An open source project is nothing without its community<br />
                Come and get in touch with us!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mr-auto text-center">
            <a href="https://t.me/groestl">
                <i class="fa fa-telegram" style="font-size: 30px; color: white; margin-bottom: 10px;"></i>
            </a>
            <p>
                <a href="https://t.me/groestl" style="color: white;">On Telegram</a>
            </p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
            <a href="https://twitter.com/groestlcointeam">
                <i class="fa fa-twitter" style="font-size: 30px; color: white; margin-bottom: 10px;"></i>
            </a>
            <p>
                <a href="https://twitter.com/groestlcointeam" style="color: white;">On Twitter</a>
            </p>
        </div>
    </div>
</div>
