@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div>
                <h1>Welcome to GRSPay Server</h1>
                <p class="lead" style="max-width:30em;margin:1.5em auto">GRSPay Server is a free and open source server for merchants wanting to accept Groestlcoin for their business.</p>
                <a href="https://grspay.com" target="_blank" rel="noreferrer noopener" class="btn btn-primary rounded-pill fs-5">Official website</a>
            </div>
            <hr class="primary my-5">
            <h2 class="mb-4">A Payment Server for Groestlcoin</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
            <div class="py-4 service-box">
                <img src="~/img/lock-logo.png" class="mb-2" alt="" asp-append-version="true" />
                <h3>Secure</h3>
                <p class="text-muted mb-0">The payment server does not need to know your private keys, so your money can't be stolen.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
            <div class="py-4 service-box">
                <img src="~/img/qr-logo.png" class="mb-2" alt="" asp-append-version="true" />
                <h3>Easy</h3>
                <p class="text-muted mb-0">A user-friendly Groestlcoin checkout page for your customers.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
            <div class="py-4 service-box">
                <img src="~/img/money-logo.png" class="mb-2" alt="" asp-append-version="true" />
                <h3>Visibility</h3>
                <p class="text-muted mb-0">Manage, generate reports, and search for your invoices easily.</p>
            </div>
        </div>
    </div>
<div class="call-to-action bg-tile">
    <div class="container text-center">
        <h2>Video tutorials</h2>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/c7s3zZnlQ6M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qNMTDEPhWhY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2>Credits</h2>
                <hr class="primary">
                <p>A big thank you to BTCPay Server who made this project a reality for Groestlcoin!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mr-auto text-center">
                <a href="https://github.com/btcpayserver/">
                    <img src="~/img/btcpay-logo.png" height="100" />
                </a>
                <p>
                </p>
            </div>
        </div>
    </div>
</section>
</div>
