:root {
  /* General color definitions */
  --btcpay-brand-light: #3ea4f7;
  --btcpay-brand-secondary: #3283c6;
  --btcpay-brand-tertiary: #09305c;
  --btcpay-brand-dark: #19154B;
  --btcpay-brand-darkest: #05120a;

  /* Color definitions for specific purposes - map the general colors or define additional ones */
  --btcpay-color-white: #fff;
  --btcpay-color-black: #000;

  --btcpay-color-neutral-100: #f8f9fa;
  --btcpay-color-neutral-200: #e9ecef;
  --btcpay-color-neutral-300: #dee2e6;
  --btcpay-color-neutral-400: #ced4da;
  --btcpay-color-neutral-500: #adb5bd;
  --btcpay-color-neutral-600: #6c757d;
  --btcpay-color-neutral-700: #495057;
  --btcpay-color-neutral-800: #343a40;
  --btcpay-color-neutral-900: #212529;

  --btcpay-color-primary:            var(--btcpay-brand-secondary);
  --btcpay-color-primary-backdrop:   #3ea4f7;
  --btcpay-color-primary-accent:     #4b3bc0;
  --btcpay-color-primary-text:       #4b3bc0;
  --btcpay-color-secondary:          var(--btcpay-color-neutral-600);
  --btcpay-color-secondary-backdrop: var(--btcpay-color-neutral-100);
  --btcpay-color-secondary-accent:   var(--btcpay-color-neutral-500);
  --btcpay-color-secondary-text:     var(--btcpay-color-neutral-400);
  --btcpay-color-success:            #25933d;
  --btcpay-color-success-backdrop:   #c3e6cb;
  --btcpay-color-success-accent:     #137929;
  --btcpay-color-success-text:       #137929;
  --btcpay-color-info:               #0698c9;
  --btcpay-color-info-backdrop:      #c0eefe;
  --btcpay-color-info-accent:        #0698c9;
  --btcpay-color-info-text:          #0698c9;
  --btcpay-color-warning:            #e5ac00;
  --btcpay-color-warning-backdrop:   #ffeeba;
  --btcpay-color-warning-accent:     #e5ac00;
  --btcpay-color-warning-text:       #e5ac00;
  --btcpay-color-danger:             #bd2130;
  --btcpay-color-danger-backdrop:    #EDA1B0;
  --btcpay-color-danger-accent:      #bd2130;
  --btcpay-color-danger-text:        #bd2130;
  --btcpay-color-light:              var(--btcpay-color-neutral-700);
  --btcpay-color-light-backdrop:     var(--btcpay-color-neutral-700);
  --btcpay-color-light-accent:       var(--btcpay-color-neutral-500);
  --btcpay-color-light-text:         var(--btcpay-color-neutral-200);
  --btcpay-color-dark:               var(--btcpay-color-neutral-200);
  --btcpay-color-dark-backdrop:      var(--btcpay-color-neutral-200);
  --btcpay-color-dark-accent:        var(--btcpay-color-neutral-400);
  --btcpay-color-dark-text:          var(--btcpay-color-neutral-800);

  /* Color definitions for specific sections - try to reuse colors defined above */
  --btcpay-bg-dark: var(--btcpay-brand-dark);
  --btcpay-bg-tile: var(--btcpay-brand-tertiary);
  --btcpay-bg-cta:  var(--btcpay-brand-tertiary);

  --btcpay-body-bg: var(--btcpay-brand-darkest);
  --btcpay-body-color: var(--btcpay-color-neutral-100);
  --btcpay-body-color-link: var(--btcpay-color-primary);
  --btcpay-body-color-link-accent: var(--btcpay-color-primary-accent);

  --btcpay-header-bg: var(--btcpay-brand-dark);

  --btcpay-wizard-bg: var(--btcpay-body-bg);
  --btcpay-wizard-color: var(--btcpay-body-color);

  --btcpay-nav-color-link-accent: var(--btcpay-color-neutral-100);

  --btcpay-footer-bg: var(--btcpay-brand-darkest);
  --btcpay-footer-color: var(--btcpay-color-neutral-600);

  --btcpay-preformatted-text-color: var(--btcpay-color-white);

  --btcpay-font-size-base: 16px;
  --btcpay-font-family-head: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  --btcpay-font-family-base: -apple-system, 'Open Sans', BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --btcpay-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Bootstrap modifications */
body {
  background: linear-gradient(var(--btcpay-header-bg), var(--btcpay-footer-bg));
  background-attachment: fixed;
}

.logo,
.head-logo,
.social-logo {
  filter: contrast(0) brightness(200%);
}

.bg-dark {
  background-color: var(--btcpay-bg-dark) !important;
}

.table {
  margin: 1.5rem 0 3rem;
}

.table th {
  border-top: 0;
}

.list-group-item-action {
    color: var(--btcpay-body-color);
}
