:root {
  /* General color definitions */
  --btcpay-brand-light: #3ea4f7;
  --btcpay-brand-secondary: #3283c6;
  --btcpay-brand-tertiary: #09305c;
  --btcpay-brand-dark: #19154B;
  --btcpay-brand-darkest: #05120a;

  /* Color definitions for specific purposes - map the general colors or define additional ones */
  --btcpay-color-white: #fff;
  --btcpay-color-black: #000;

  --btcpay-color-neutral-100: #f8f9fa;
  --btcpay-color-neutral-200: #e9ecef;
  --btcpay-color-neutral-300: #dee2e6;
  --btcpay-color-neutral-400: #ced4da;
  --btcpay-color-neutral-500: #adb5bd;
  --btcpay-color-neutral-600: #6c757d;
  --btcpay-color-neutral-700: #495057;
  --btcpay-color-neutral-800: #343a40;
  --btcpay-color-neutral-900: #212529;

  --btcpay-color-primary:            #148ee3;
  --btcpay-color-primary-backdrop:   #3ea4f7;
  --btcpay-color-primary-accent:     #3283c6;
  --btcpay-color-primary-text:       #3283c6;
  --btcpay-color-secondary:          var(--btcpay-color-neutral-600);
  --btcpay-color-secondary-backdrop: rgba(130, 138, 145, 0.25);
  --btcpay-color-secondary-accent:   var(--btcpay-color-neutral-800);
  --btcpay-color-secondary-text:     var(--btcpay-color-neutral-800);
  --btcpay-color-success:            #25933d;
  --btcpay-color-success-backdrop:   #c3e6cb;
  --btcpay-color-success-accent:     #137929;
  --btcpay-color-success-text:       #137929;
  --btcpay-color-info:               #17a2b8;
  --btcpay-color-info-backdrop:      #c3e6cb;
  --btcpay-color-info-accent:        #117a8b;
  --btcpay-color-info-text:          #117a8b;
  --btcpay-color-warning:            #ffc107;
  --btcpay-color-warning-backdrop:   rgba(255, 193, 7, 0.25);
  --btcpay-color-warning-accent:     #d39e00;
  --btcpay-color-warning-text:       var(--btcpay-color-neutral-700);
  --btcpay-color-danger:             #dc3545;
  --btcpay-color-danger-backdrop:    rgba(225, 83, 97, 0.25);
  --btcpay-color-danger-accent:      #bd2130;
  --btcpay-color-danger-text:        #bd2130;
  --btcpay-color-light:              var(--btcpay-color-neutral-200);
  --btcpay-color-light-backdrop:     var(--btcpay-color-neutral-200);
  --btcpay-color-light-accent:       var(--btcpay-color-neutral-100);
  --btcpay-color-light-text:         var(--btcpay-color-neutral-800);
  --btcpay-color-dark:               var(--btcpay-color-neutral-800);
  --btcpay-color-dark-backdrop:      var(--btcpay-color-neutral-800);
  --btcpay-color-dark-accent:        var(--btcpay-color-neutral-900);
  --btcpay-color-dark-text:          var(--btcpay-color-neutral-200);

  /* Color definitions for specific sections - try to reuse colors defined above */
  --btcpay-bg-dark: var(--btcpay-brand-dark);
  --btcpay-bg-tile: var(--btcpay-color-white);
  --btcpay-bg-cta:  var(--btcpay-bg-dark);

  --btcpay-body-bg: var(--btcpay-color-neutral-100);
  --btcpay-body-color: var(--btcpay-color-neutral-900);
  --btcpay-body-color-link: var(--btcpay-color-primary);
  --btcpay-body-color-link-accent: var(--btcpay-color-primary-accent);

  --btcpay-header-bg: var(--btcpay-bg-dark);
  --btcpay-header-color: var(--btcpay-color-white);
  --btcpay-header-color-link: var(--btcpay-color-white);
  --btcpay-header-color-link-accent: var(--btcpay-color-neutral-300);
  --btcpay-header-color-link-active: var(--btcpay-color-neutral-300);

  --btcpay-wizard-bg: var(--btcpay-body-bg);
  --btcpay-wizard-color: var(--btcpay-body-color);

  --btcpay-footer-bg: var(--btcpay-bg-dark);
  --btcpay-footer-color: var(--btcpay-color-neutral-400);

  --btcpay-bg-nav-link-active: #3ea4f7;

  --btcpay-preformatted-text-color: var(--btcpay-color-neutral-900);

  --btcpay-font-size-base: 14px;
  --btcpay-font-family-head: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  --btcpay-font-family-base: 'Helvetica Neue', Arial, sans-serif;
  --btcpay-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Bootstrap modifications */
.bg-dark {
  background-color: var(--btcpay-bg-dark) !important;
}

.table-sm {
  margin: 1.5rem 0;
  background: var(--btcpay-color-white);
  border: 1px solid var(--btcpay-color-neutral-300);
  border-radius: 4px;
  border-collapse: separate !important;
  border-spacing: 0px !important;
}

.table-sm thead > tr {
  height: 40px;
}

.table-sm thead th {
  border-bottom: none;
  border-top: none;
  font-size: 1.0rem;
}

.table-sm th,
.table-sm td {
  padding: 8px 12px;
  vertical-align: middle;
  font-size: 0.92rem;
}

.table-sm tbody tr:hover {
    background-color: var(--btcpay-color-neutral-100);
}

.removetopborder tr:first-child th,
.removetopborder tr:first-child td {
  border-top: none;
}

#mainNav.sticky-top {
  background: var(--btcpay-color-white);
}
