<h5 class="text-center fw-normal mb-4" text-translate="true">
    GRSPay Server Supporters
</h5>
<p class="text-center">
    <a href="https://groestlcoin.org" target="_blank" rel="noreferrer noopener" text-translate="true">We are your biggest supporter!</a>
    <span text-translate="true">or</span>
    <a href="https://www.groestlcoin.org/donations/" target="_blank" rel="noreferrer noopener" text-translate="true">Donate</a>
</p>
