@using BTCPayServer.Abstractions.Extensions
@inject BTCPayServer.Services.BTCPayServerEnvironment _env

<footer class="btcpay-footer d-print-none">
    <div class="d-flex flex-wrap flex-column justify-content-between flex-xl-row gap-3">
        <div class="d-flex flex-wrap justify-content-center justify-content-xl-start gap-4">
            <a href="https://github.com/Groestlcoin/btcpayserver" target="_blank" rel="noreferrer noopener">
                <vc:icon symbol="github"/>
                <span>Github</span>
            </a>

            <a href="https://twitter.com/GroestlcoinTeam" target="_blank" rel="noreferrer noopener">
                <vc:icon symbol="twitter"/>
                <span>Twitter</span>
            </a>
            <a href="https://t.me/groestl" target="_blank" rel="noreferrer noopener">
                <vc:icon symbol="telegram"/>
                <span>Telegram</span>
            </a>
            @if (!string.IsNullOrEmpty(_env.OnionUrl) && !Context.Request.IsOnion())
            {
                <button type="button" class="d-flex align-items-center btn btn-link" data-clipboard="@_env.OnionUrl" data-clipboard-hover>
                    <vc:icon symbol="onion"/>
                    <span>Copy Tor URL</span>
                </button>
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="text-center">
                @_env.ToString()
            </div>
        }
    </div>
</footer>
